template(name='Topics')
  +linkTo route='topicNew' class="btn right"
    i.left.mdi-content-create
    | New Topic
  +tabular(table=TabularTables.TopicsList class="table table-striped table-bordered table-condensed")
