<template name="Navigation">
  <nav>
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">
        OrionJS Practice
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="{{active '/'}}">
          {{#linkTo route='home'}}
            Home
          {{/linkTo}}
        </li>
        <li class="{{active 'topics'}}">
          {{#linkTo route='topics'}}
            Topics
          {{/linkTo}}
        </li>
        <li>
          <a id="sign-in-out-button" href="#">{{currentUserState}}</a>
        </li>
      </ul>
      <ul id="slide-out" class="side-nav">
        <li class="{{active '/'}}">
          {{#linkTo route='home'}}
            Home
          {{/linkTo}}
        </li>
        <li class="{{active 'topics'}}">
          {{#linkTo route='topics'}}
            Topics
          {{/linkTo}}
        </li>
        <li>
          <a id="sign-in-out-button" href="#">{{currentUserState}}</a>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</template>
