template(name="TopicNew")
  +autoForm(collection="Topics" id="topicNewForm" type="insert")
    +afQuickField(name='feelingGood')
    +afQuickField(name='feelingAnxious')
    +afQuickField(name='name')
    +afQuickField(name='importance')
    +afQuickField(name='stars')
    +afQuickField(name='tags')
    button(type="submit" class="btn btn-primary")
      | Create
