/***************
  Radio Buttons
***************/

$radio-empty-color: #F1C40F;

.af-uncheck-radio-group {
  display: flex;
  p {
    flex: 1 0 0;
  }
  /* Remove default Radio Buttons */
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    // position: absolute;
    // left: -9999px;
    // visibility: hidden;
  }

  [type="radio"]:not(:checked) + label,
  [type="radio"]:checked + label {
    display: inline-block;
    padding: 6px;
    height: 45px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    padding-left: 20px;
    cursor: pointer;
    line-height: 1rem;
    font-size: 1rem;
    overflow: visible;
    @include transition(none);

    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  [type="radio"] + label:before,
  [type="radio"] + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    @include transition(none);
  }

  /* Unchecked styles */
  [type="radio"]:not(:checked) + label:before {
    border-radius: 50%;
    border: 3px solid $radio-empty-color;
  }
  [type="radio"]:not(:checked) + label:after {
    border-radius: 50%;
    border: 3px solid $radio-empty-color;
    z-index: -1;
    @include transform(scale(0));
  }
}
