template(name="TopicEdit")
  h1 Edit {{name}}
  +autoForm(collection="Topics" doc=this id="topicEditForm" type="update" omitFields="authorId,created,updated")
    +afQuickField(name='name')
    +afQuickField(name='importance')
    +afQuickField(name='stars')
    button(type="submit" class="btn btn-primary")
      | Update
  +quickRemoveButton(collection="Topics" _id=this._id beforeRemove=beforeRemove class="btn red lighten-2 right")
    i.fa.fa-trash-o
