/*****************************************************************************/
/* TopicEdit: Style */
/*****************************************************************************/
.topic-edit {
}

$radio-1-background-color: #fce4ec;
$radio-1-color: black;
$radio-1-hover-background-color: #ff80ab;
$radio-1-selected-background-color: #d81b60;
$radio-1-selected-color: black;
$radio-1-selected-hover-background-color: #ff4081;

$radio-2-background-color: #ede7f6;
$radio-2-color: black;
$radio-2-hover-background-color: #b388ff;
$radio-2-selected-background-color: #5e35b1;
$radio-2-selected-color: black;
$radio-2-selected-hover-background-color: #7c4dff;

$radio-3-background-color: #e3f2fd;
$radio-3-color: black;
$radio-3-hover-background-color: #82b1ff;
$radio-3-selected-background-color: #1e88e5;
$radio-3-selected-color: black;
$radio-3-selected-hover-background-color: #448aff;

$radio-4-background-color: #e0f7fa;
$radio-4-color: black;
$radio-4-hover-background-color: #84ffff;
$radio-4-selected-background-color: #00acc1;
$radio-4-selected-color: black;
$radio-4-selected-hover-background-color: #18ffff;

$radio-5-background-color: #f1f8e9;
$radio-5-color: black;
$radio-5-hover-background-color: #ccff90;
$radio-5-selected-background-color: #7cb342;
$radio-5-selected-color: black;
$radio-5-selected-hover-background-color: #b2ff59;

$radio-6-background-color: #fffde7;
$radio-6-color: black;
$radio-6-hover-background-color: #ffff8d;
$radio-6-selected-background-color: #ffeb3b;
$radio-6-selected-color: black;
$radio-6-selected-hover-background-color: #ffff00;


$themePrimary: #82BF00;
$themePrimaryLight: #32BF00;
$navbarPrimary: #7b90ae;
$themeSecondary: #00C1C8;
$linkColor: #44D1D8;
$textSecondary: #999;
$question-background-color: #FFCC80;
$question-active-background-color: #00cace;

$nextButtonBorder: #7b90ae;
$nextButtonColor: #7b90ae;

$option-background-color: #f5c94e;

@mixin user-select($user-select) {
  -webkit-touch-callout: $user-select;
  -webkit-user-select: $user-select;
  -khtml-user-select: $user-select;
  -moz-user-select: $user-select;
  -ms-user-select: $user-select;
  user-select: $user-select;
}

@mixin bottom-right-radius($bottom-right-radius) {
  -webkit-border-bottom-right-radius: $bottom-right-radius;
  -moz-border-radius-bottomright: $bottom-right-radius;
  border-bottom-right-radius: $bottom-right-radius;
}

@mixin bottom-left-radius($bottom-left-radius) {
  -webkit-border-bottom-left-radius: $bottom-left-radius;
  -moz-border-radius-bottomleft: $bottom-left-radius;
  border-bottom-left-radius: $bottom-left-radius;
}

@mixin top-right-radius($top-right-radius) {
  -webkit-border-top-right-radius: $top-right-radius;
  -moz-border-radius-topright: $top-right-radius;
  border-top-right-radius: $top-right-radius;
}

@mixin top-left-radius($top-left-radius) {
  -webkit-border-top-left-radius: $top-left-radius;
  -moz-border-radius-topleft: $top-left-radius;
  border-top-left-radius: $top-left-radius;
}

@mixin transition-all() {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

@mixin transition-delay($delay) {
  -webkit-transition-duration: $delay;
  -moz-transition-duration: $delay;
  -o-transition-duration: $delay;
  transition-duration: $delay;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

$option-highlight: #eceff1;

.af-uncheck-radio-group {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;

  &+label {
    display: none;
  }

  p,
  p:last-child {
    flex: 1 0 0;
    margin: 0;

    // Hide radio button, will be used later as chat tail for first response
    [type="radio"]:not(:checked) + label:before,
    [type="radio"]:checked + label:after {
      margin-left: 50%;
      top: 10px;
    }

    [type="radio"]:not(:checked) + label,
    [type="radio"]:checked + label {
      @include flex();
      display: none;
    }
  }

  p:first-child {
    // Hide radio button, will be used later as chat tail for first response
    [type="radio"]:not(:checked) + label:before,
    [type="radio"]:checked + label:after
    {
      display: none;
    }
    [type="radio"]:not(:checked) + label {
      @include flex();
      text-indent: 0;
      position: relative;
      top: 0px;
      left: 0px;
      align-items: center;
      padding: 20px 15px;
      color: black;
      border: 2px solid #7b90ae;
      border-radius: 20px;
      &:hover {
        background-color: $option-highlight;
      }
    }
  }

  &.active {
    p,
    p:last-child {
      flex: 1 0 0;
      margin: 0;

      // Hide radio button, will be used later as chat tail for first response
      // Hide radio button, will be used later as chat tail for first response
      [type="radio"]:not(:checked) + label:before,
      [type="radio"]:checked + label:after {
        margin-left: 50%;
        top: 10px;
      }

      [type="radio"]:not(:checked) + label,
      [type="radio"]:checked + label {
        @include flex();
        position: relative;
        top: 0px;
        left: 0px;
        align-items: center;
        padding: 20px 15px;

        color: white;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    p:first-child {
      [type="radio"]:not(:checked) + label:before,
      [type="radio"]:checked + label:after
      {
        display: none;
      }
      [type="radio"]:checked + label {
        @include flex();
        text-indent: 0;
        position: static;
        align-items: center;
        padding: 20px 15px;
        color: black;
        border: 2px solid #7b90ae;
        border-radius: 20px;
        border: 2px solid $option-background-color;
        background-color: $option-background-color;
        &:hover {
          background-color: #FFC94E;
        }
        &:before {
          content: "";
          margin: 20px 0;
          display: block;
          width: 25px;
          height: 27px;
          border-radius: 0;
          background: $option-background-color;
          z-index: -1;
          @include transition-all();
          @include bottom-right-radius(80px 50px);
        }
        &:after {
          content: "";
          margin: 10px 0;
          display: block;
          width: 10px;
          height: 38px;
          background: white;
          border-radius: 0;
          border: none;
          transition: none;
          @include bottom-right-radius(40px 50px);
        }
      }
    }
    p.higherSelected {
      &:first-child {
        [type="radio"]:not(:checked) + label:before,
        [type="radio"]:checked + label:after
        {
          display: none;
        }
        [type="radio"]:not(:checked) + label {
          @include flex();
          text-indent: 0;
          position: static;
          align-items: center;
          padding: 20px 15px;
          color: red;
          border: 2px solid #7b90ae;
          border-radius: 0;
          @include top-left-radius(20px);
          @include bottom-left-radius(20px);
          border: 2px solid $option-background-color;
          background-color: $option-background-color;
          &:hover {
            background-color: #FFC94E;
          }
          &:before {
            content: "";
            margin: 20px 0;
            display: block;
            width: 25px;
            height: 27px;
            border-radius: 0;
            background: $option-background-color;
            z-index: -1;
            @include transition-all();
            @include bottom-right-radius(80px 50px);
          }
          &:after {
            content: "";
            margin: 10px 0;
            display: block;
            width: 10px;
            height: 38px;
            background: white;
            border-radius: 0;
            border: none;
            transition: none;
            @include bottom-right-radius(40px 50px);
          }
        }
      }
    }
  }
}
