/*****************************************************************************/
/* TopicEdit: Style */
/*****************************************************************************/

$radio-1-background-color: #fce4ec;
$radio-1-color: black;
$radio-1-hover-background-color: #ff80ab;
$radio-1-selected-background-color: #d81b60;
$radio-1-selected-color: black;
$radio-1-selected-hover-background-color: #ff4081;

$radio-2-background-color: #ede7f6;
$radio-2-color: black;
$radio-2-hover-background-color: #b388ff;
$radio-2-selected-background-color: #5e35b1;
$radio-2-selected-color: black;
$radio-2-selected-hover-background-color: #7c4dff;

$radio-3-background-color: #e3f2fd;
$radio-3-color: black;
$radio-3-hover-background-color: #82b1ff;
$radio-3-selected-background-color: #1e88e5;
$radio-3-selected-color: black;
$radio-3-selected-hover-background-color: #448aff;

$radio-4-background-color: #e0f7fa;
$radio-4-color: black;
$radio-4-hover-background-color: #84ffff;
$radio-4-selected-background-color: #00acc1;
$radio-4-selected-color: black;
$radio-4-selected-hover-background-color: #18ffff;

$radio-5-background-color: #f1f8e9;
$radio-5-color: black;
$radio-5-hover-background-color: #ccff90;
$radio-5-selected-background-color: #7cb342;
$radio-5-selected-color: black;
$radio-5-selected-hover-background-color: #b2ff59;

$radio-6-background-color: #fffde7;
$radio-6-color: black;
$radio-6-hover-background-color: #ffff8d;
$radio-6-selected-background-color: #ffeb3b;
$radio-6-selected-color: black;
$radio-6-selected-hover-background-color: #ffff00;


$themePrimary: #82BF00;
$themePrimaryLight: #32BF00;
$navbarPrimary: #7b90ae;
$themeSecondary: #00C1C8;
$linkColor: #44D1D8;
$textSecondary: #999;
$question-background-color: #FFCC80;
$question-active-background-color: #00cace;

$nextButtonBorder: #7b90ae;
$nextButtonColor: #7b90ae;

$option-background-color: #F1C40F;
$option-inactive-background-color: #E9EEEF;

@mixin user-select($user-select) {
  -webkit-touch-callout: $user-select;
  -webkit-user-select: $user-select;
  -khtml-user-select: $user-select;
  -moz-user-select: $user-select;
  -ms-user-select: $user-select;
  user-select: $user-select;
}

@mixin bottom-right-radius($bottom-right-radius) {
  -webkit-border-bottom-right-radius: $bottom-right-radius;
  -moz-border-radius-bottomright: $bottom-right-radius;
  border-bottom-right-radius: $bottom-right-radius;
}

@mixin bottom-left-radius($bottom-left-radius) {
  -webkit-border-bottom-left-radius: $bottom-left-radius;
  -moz-border-radius-bottomleft: $bottom-left-radius;
  border-bottom-left-radius: $bottom-left-radius;
}

@mixin top-right-radius($top-right-radius) {
  -webkit-border-top-right-radius: $top-right-radius;
  -moz-border-radius-topright: $top-right-radius;
  border-top-right-radius: $top-right-radius;
}

@mixin top-left-radius($top-left-radius) {
  -webkit-border-top-left-radius: $top-left-radius;
  -moz-border-radius-topleft: $top-left-radius;
  border-top-left-radius: $top-left-radius;
}

@mixin transition-delay($delay) {
  -webkit-transition-duration: $delay;
  -moz-transition-duration: $delay;
  -o-transition-duration: $delay;
  transition-duration: $delay;
}

.chat-tail-defaults {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: 0;
  left: -12px;
  bottom: 0;
  transform: scale(1);
  margin: 0;
  border-radius: 0;
  border: none;
  z-index: -1;
}

.chat-tail-before {
  @extend .chat-tail-defaults;
  width: 25px;
  height: 27px;
  background: $option-background-color;
  @include bottom-right-radius(80px 50px);
}

.chat-tail-after {
  @extend .chat-tail-defaults;
  width: 10px;
  height: 27px;
  background: white;
  z-index: 0;
  @include bottom-right-radius(40px 50px);
}

.hide-text {
  text-indent: -9999px;
  white-space: nowrap;
}

$option-highlight: $option-background-color;
$option-inactive-highlight: $option-background-color;
$answer-total-width: 80%;

.active-option {
  border: 2px solid $option-background-color;
  background-color: $option-background-color;
}

.af-uncheck-radio-group {
  // Style unchecked radios first, i.e.: element is not .active

  width: $answer-total-width;

  // Hide radio group label
  & + label {
    display: none;
  }

  // Hide all options except the first
  p {
    // Hide materialize radio button (::before/::after implementation)
    // Later used as chat tail for first option
    [type="radio"]:not(:checked) + label::before,
    [type="radio"]:checked + label::after
    {
      display: none;
    }
    // Hide options that are not checked
    &:not(:first-child) {
      [type="radio"]:not(:checked) + label {
        display: none;
      }
    }

    // First gray box, nothing active
    &.fieldLabel label {
      display: inline-block;
      padding: 12px 20px 6px;
      height: 45px;
      width: auto;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      vertical-align: middle;
      cursor: pointer;
      line-height: 1rem;
      font-size: 1rem;
      overflow: visible;

      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      -ms-user-select: none; /* IE10+ */

      cursor: pointer;
      border-radius: 20px;
      background-color: $option-inactive-background-color;
      border: 2px solid $option-inactive-background-color;
      &:hover {
        border-color: $option-inactive-highlight;
      }
      span {
        display: block;
        &.firstLine {
          font-weight: bold;
        }
        &.firstSubLine,
        &.secondSubLine {
          font-size: 0.7rem;
          font-height: 0.7rem;
        }
      }
    }
  }

  &.active {
    p {
      span {
        display: block;
        &.firstLine {
          font-weight: bold;
        }
        &.firstSubLine,
        &.secondSubLine {
          font-size: 0.7rem;
          font-height: 0.7rem;
        }
      }

      // Show bubbles to indicate next available options
      [type="radio"]:not(:checked) + label::before {
        display: block;
        margin-left: 50%;
        top: 10px;
      }

      // Shared active styling
      [type="radio"]:not(:checked) + label,
      [type="radio"]:checked + label {
        display: inline-block;
        color: white;
      }

      &:first-child {
        [type="radio"]:checked + label {
          border-radius: 20px;
          @extend .active-option;
          &::before {
            display: block;
            @extend .chat-tail-before;
          }
          &::after {
            display: block;
            @extend .chat-tail-after;
          }
        }
      }
      // Style with top/bottom-right rounded corners if checked
      &:not(:first-child) {
        [type="radio"]:checked + label {
          text-align: left;
          border-radius: 0;
          @include top-right-radius(20px);
          @include bottom-right-radius(20px);
          @extend .active-option;
        }
        // Hide text of labels to the left of checked option
        label {
          @extend .hide-text;
        }
      }

      // Everything to the left of checked option has this class
      &.higherSelected {
        // First option is active, with top/bottom-left rounded corners
        &:first-child {
          [type="radio"]:not(:checked) + label {
            border-radius: 0;
            @include top-left-radius(20px);
            @include bottom-left-radius(20px);
            @extend .active-option;
            &::before {
              display: block;
              @extend .chat-tail-before;
            }
            &::after {
              display: block;
              @extend .chat-tail-after;
            }
          }
        }
        // All remaining middle options styled as squares
        &:not(:first-child) {
          [type="radio"]:not(:checked) + label {
            border-radius: 0;
            @extend .active-option;
            &::before {
              display: none;
            }
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
}
